* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
#main {
  height: 100%;
  width: 100%;
  /* background-color: aquamarine; */
}
#nav {
  width: 100%;
  /* background-color: greenyellow; */
  display: flex;
  justify-content: space-between;
}
#nav1 {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
#nav2 {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
#nav h2,
#nav h3,
#nav h4 {
  font-size: 20px;
  font-weight: 600;
}
#content {
  /* background-color: firebrick; */
  padding: 10px 30px;
  margin-top: 50px;
}
#content h3 {
  font-size: 30px;
  font-weight: 500;
}
#content h1 {
  margin-top: 25px;
  font-size: 110px;
  font-weight: 500;
  line-height: 110px;
  letter-spacing: -3px;
}
#case {
  /* background-color: forestgreen; */
  padding: 10px 35px;
  margin-top: 25px;
}
#case h3 {
  font-size: 20px;
  font-weight: 500;
}
#project {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: rebeccapurple; */
  padding: 10px 35px;
  gap: 50px;
}
.elem {
  width: 50%;
}
.top {
  /* background-color: gray; */
  height: 500px;
  width: 90%;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}
#img1 {
  background-image: url(https://images.unsplash.com/photo-1506792006437-256b665541e2?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
#img2 {
  background-image: url(https://images.unsplash.com/photo-1545987796-200677ee1011?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}
.btm {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 60px 10px 10px;
}
.arrow {
  font-size: 15px;
  font-weight: 600;
  border: 1.5px solid black;
  padding: 10px 20px;
  border-radius: 50px;
}
.noarrow > h3 {
  font-size: 25px;
  font-weight: 500;
}
.noarrow > h4 {
  font-size: 15px;
  font-weight: 500;
}
.arrow:hover {
  background-color: black;
  color: white;
}
